--
-- PostgreSQL database dump
--

\restrict FPJt2Am4WVcYYjNbtPZV0UQNTq420aLk9PlsifNuwCLK7jR0S3q54meOa2H0iO8

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: condosync
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO condosync;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: condosync
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AssemblyStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."AssemblyStatus" AS ENUM (
    'SCHEDULED',
    'IN_PROGRESS',
    'FINISHED',
    'CANCELED'
);


ALTER TYPE public."AssemblyStatus" OWNER TO condosync;

--
-- Name: ChargeStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."ChargeStatus" AS ENUM (
    'PENDING',
    'PAID',
    'OVERDUE',
    'CANCELED'
);


ALTER TYPE public."ChargeStatus" OWNER TO condosync;

--
-- Name: FinancialTransactionType; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."FinancialTransactionType" AS ENUM (
    'INCOME',
    'EXPENSE'
);


ALTER TYPE public."FinancialTransactionType" OWNER TO condosync;

--
-- Name: GatewayType; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."GatewayType" AS ENUM (
    'NONE',
    'ASAAS',
    'PJBANK'
);


ALTER TYPE public."GatewayType" OWNER TO condosync;

--
-- Name: LostAndFoundStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."LostAndFoundStatus" AS ENUM (
    'LOST',
    'FOUND',
    'RETURNED',
    'DISCARDED'
);


ALTER TYPE public."LostAndFoundStatus" OWNER TO condosync;

--
-- Name: MarketplaceOfferStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."MarketplaceOfferStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'EXPIRED'
);


ALTER TYPE public."MarketplaceOfferStatus" OWNER TO condosync;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."NotificationType" AS ENUM (
    'VISITOR',
    'PARCEL',
    'MAINTENANCE',
    'FINANCIAL',
    'COMMUNICATION',
    'RESERVATION',
    'OCCURRENCE',
    'ASSEMBLY'
);


ALTER TYPE public."NotificationType" OWNER TO condosync;

--
-- Name: OccurrenceStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."OccurrenceStatus" AS ENUM (
    'OPEN',
    'IN_ANALYSIS',
    'RESOLVED',
    'CLOSED'
);


ALTER TYPE public."OccurrenceStatus" OWNER TO condosync;

--
-- Name: ParcelStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."ParcelStatus" AS ENUM (
    'RECEIVED',
    'NOTIFIED',
    'PICKED_UP',
    'RETURNED'
);


ALTER TYPE public."ParcelStatus" OWNER TO condosync;

--
-- Name: RenovationStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."RenovationStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'IN_PROGRESS',
    'COMPLETED',
    'REJECTED'
);


ALTER TYPE public."RenovationStatus" OWNER TO condosync;

--
-- Name: ReservationStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."ReservationStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'CANCELED',
    'COMPLETED'
);


ALTER TYPE public."ReservationStatus" OWNER TO condosync;

--
-- Name: ServiceOrderPriority; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."ServiceOrderPriority" AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'URGENT'
);


ALTER TYPE public."ServiceOrderPriority" OWNER TO condosync;

--
-- Name: ServiceOrderStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."ServiceOrderStatus" AS ENUM (
    'OPEN',
    'IN_PROGRESS',
    'WAITING_PARTS',
    'COMPLETED',
    'CANCELED'
);


ALTER TYPE public."ServiceOrderStatus" OWNER TO condosync;

--
-- Name: ShiftType; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."ShiftType" AS ENUM (
    'MORNING',
    'AFTERNOON',
    'NIGHT',
    'FULL_DAY'
);


ALTER TYPE public."ShiftType" OWNER TO condosync;

--
-- Name: StockMovementType; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."StockMovementType" AS ENUM (
    'IN',
    'OUT',
    'ADJUSTMENT'
);


ALTER TYPE public."StockMovementType" OWNER TO condosync;

--
-- Name: TicketCategory; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."TicketCategory" AS ENUM (
    'manutencao',
    'financeiro',
    'barulho',
    'seguranca',
    'outro'
);


ALTER TYPE public."TicketCategory" OWNER TO condosync;

--
-- Name: TicketPriority; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."TicketPriority" AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH'
);


ALTER TYPE public."TicketPriority" OWNER TO condosync;

--
-- Name: TicketStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."TicketStatus" AS ENUM (
    'OPEN',
    'IN_PROGRESS',
    'CLOSED'
);


ALTER TYPE public."TicketStatus" OWNER TO condosync;

--
-- Name: UnitStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."UnitStatus" AS ENUM (
    'OCCUPIED',
    'VACANT',
    'UNDER_RENOVATION',
    'BLOCKED'
);


ALTER TYPE public."UnitStatus" OWNER TO condosync;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'CONDOMINIUM_ADMIN',
    'SYNDIC',
    'DOORMAN',
    'RESIDENT',
    'SERVICE_PROVIDER',
    'COUNCIL_MEMBER'
);


ALTER TYPE public."UserRole" OWNER TO condosync;

--
-- Name: VehicleType; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."VehicleType" AS ENUM (
    'CAR',
    'MOTORCYCLE',
    'TRUCK',
    'BICYCLE',
    'OTHER'
);


ALTER TYPE public."VehicleType" OWNER TO condosync;

--
-- Name: VisitorStatus; Type: TYPE; Schema: public; Owner: condosync
--

CREATE TYPE public."VisitorStatus" AS ENUM (
    'PENDING',
    'AUTHORIZED',
    'DENIED',
    'INSIDE',
    'LEFT'
);


ALTER TYPE public."VisitorStatus" OWNER TO condosync;

--
-- Name: validate_condominium_user_unit(); Type: FUNCTION; Schema: public; Owner: condosync
--

CREATE FUNCTION public.validate_condominium_user_unit() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  IF NEW."unitId" IS NOT NULL AND NOT EXISTS (
    SELECT 1
    FROM "units" u
    WHERE u."id" = NEW."unitId"
      AND u."condominiumId" = NEW."condominiumId"
  ) THEN
    RAISE EXCEPTION 'Unit does not belong to condominium';
  END IF;

  RETURN NEW;
END;
$$;


ALTER FUNCTION public.validate_condominium_user_unit() OWNER TO condosync;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO condosync;

--
-- Name: announcements; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.announcements (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    "authorId" text NOT NULL,
    "isPinned" boolean DEFAULT false NOT NULL,
    "isOfficial" boolean DEFAULT false NOT NULL,
    attachments text[],
    "targetRoles" public."UserRole"[],
    "publishedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.announcements OWNER TO condosync;

--
-- Name: area_blocked_periods; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.area_blocked_periods (
    id text NOT NULL,
    "commonAreaId" text NOT NULL,
    reason text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "createdBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.area_blocked_periods OWNER TO condosync;

--
-- Name: assemblies; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.assemblies (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    title text NOT NULL,
    description text,
    "meetingUrl" text,
    "scheduledAt" timestamp(3) without time zone NOT NULL,
    "startedAt" timestamp(3) without time zone,
    "finishedAt" timestamp(3) without time zone,
    "minutesUrl" text,
    status public."AssemblyStatus" DEFAULT 'SCHEDULED'::public."AssemblyStatus" NOT NULL,
    "createdBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.assemblies OWNER TO condosync;

--
-- Name: assembly_attendees; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.assembly_attendees (
    id text NOT NULL,
    "assemblyId" text NOT NULL,
    "userId" text NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "leftAt" timestamp(3) without time zone
);


ALTER TABLE public.assembly_attendees OWNER TO condosync;

--
-- Name: assembly_votes; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.assembly_votes (
    id text NOT NULL,
    "votingItemId" text NOT NULL,
    "userId" text NOT NULL,
    "optionId" text NOT NULL,
    "votedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.assembly_votes OWNER TO condosync;

--
-- Name: assembly_voting_items; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.assembly_voting_items (
    id text NOT NULL,
    "assemblyId" text NOT NULL,
    title text NOT NULL,
    description text,
    options jsonb NOT NULL
);


ALTER TABLE public.assembly_voting_items OWNER TO condosync;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "userId" text,
    "condominiumId" text,
    action text NOT NULL,
    module text NOT NULL,
    "entityType" text,
    "entityId" text,
    description text NOT NULL,
    metadata jsonb,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO condosync;

--
-- Name: charges; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.charges (
    id text NOT NULL,
    "unitId" text NOT NULL,
    "accountId" text NOT NULL,
    "categoryId" text,
    description text NOT NULL,
    amount numeric(12,2) NOT NULL,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "paidAmount" numeric(12,2),
    status public."ChargeStatus" DEFAULT 'PENDING'::public."ChargeStatus" NOT NULL,
    "referenceMonth" text,
    "gatewayId" text,
    "gatewayStatus" text,
    "pixQrCode" text,
    "pixCopyPaste" text,
    "paymentLink" text,
    "boletoUrl" text,
    "boletoCode" text,
    "penaltyAmount" numeric(12,2) DEFAULT 0 NOT NULL,
    "interestRate" numeric(5,4) DEFAULT 0 NOT NULL,
    "createdBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.charges OWNER TO condosync;

--
-- Name: chat_conversations; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.chat_conversations (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    "unitId" text,
    subject text,
    participants text[],
    "isOpen" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.chat_conversations OWNER TO condosync;

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.chat_messages (
    id text NOT NULL,
    "conversationId" text NOT NULL,
    "senderId" text NOT NULL,
    content text NOT NULL,
    attachments text[],
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.chat_messages OWNER TO condosync;

--
-- Name: collection_rules; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.collection_rules (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    name text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.collection_rules OWNER TO condosync;

--
-- Name: collection_steps; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.collection_steps (
    id text NOT NULL,
    "ruleId" text NOT NULL,
    "daysAfterDue" integer NOT NULL,
    channels text[],
    "messageTemplate" text NOT NULL,
    action text DEFAULT 'notify'::text NOT NULL
);


ALTER TABLE public.collection_steps OWNER TO condosync;

--
-- Name: common_areas; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.common_areas (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    name text NOT NULL,
    description text,
    capacity integer,
    rules text,
    "photoUrls" text[],
    "isActive" boolean DEFAULT true NOT NULL,
    "requiresApproval" boolean DEFAULT false NOT NULL,
    "maxDaysAdvance" integer DEFAULT 30 NOT NULL,
    "openTime" text,
    "closeTime" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.common_areas OWNER TO condosync;

--
-- Name: condominium_contracts; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.condominium_contracts (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    title text NOT NULL,
    vendor text NOT NULL,
    "contractType" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    value numeric(12,2) NOT NULL,
    "adjustmentIndex" text,
    "fileUrl" text,
    notes text,
    "autoRenew" boolean DEFAULT false NOT NULL,
    "alertDaysBefore" integer DEFAULT 60 NOT NULL,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.condominium_contracts OWNER TO condosync;

--
-- Name: condominium_documents; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.condominium_documents (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    title text NOT NULL,
    description text,
    category text NOT NULL,
    "fileName" text NOT NULL,
    "storedName" text NOT NULL,
    "filePath" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mimeType" text NOT NULL,
    "uploadedBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.condominium_documents OWNER TO condosync;

--
-- Name: condominium_users; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.condominium_users (
    id text NOT NULL,
    "userId" text NOT NULL,
    "condominiumId" text NOT NULL,
    role public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "joinedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "unitId" text,
    CONSTRAINT condominium_users_resident_requires_unit CHECK (((role <> 'RESIDENT'::public."UserRole") OR ("unitId" IS NOT NULL)))
);


ALTER TABLE public.condominium_users OWNER TO condosync;

--
-- Name: condominiums; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.condominiums (
    id text NOT NULL,
    name text NOT NULL,
    cnpj text,
    address text NOT NULL,
    city text NOT NULL,
    state text NOT NULL,
    "zipCode" text NOT NULL,
    phone text,
    email text,
    "logoUrl" text,
    timezone text DEFAULT 'America/Sao_Paulo'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    plan text DEFAULT 'basic'::text NOT NULL,
    "maxUnits" integer DEFAULT 100 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.condominiums OWNER TO condosync;

--
-- Name: contracts; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.contracts (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    "serviceProviderId" text NOT NULL,
    title text NOT NULL,
    description text,
    value numeric(12,2) NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "documentUrl" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.contracts OWNER TO condosync;

--
-- Name: dependents; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.dependents (
    id text NOT NULL,
    "unitId" text NOT NULL,
    name text NOT NULL,
    relationship text NOT NULL,
    "birthDate" timestamp(3) without time zone,
    cpf text,
    "photoUrl" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.dependents OWNER TO condosync;

--
-- Name: digital_signage_screens; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.digital_signage_screens (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    name text NOT NULL,
    location text NOT NULL,
    token text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "slideDuration" integer DEFAULT 8 NOT NULL,
    "primaryColor" text DEFAULT '#1e40af'::text NOT NULL,
    "logoUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.digital_signage_screens OWNER TO condosync;

--
-- Name: digital_signage_slides; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.digital_signage_slides (
    id text NOT NULL,
    "screenId" text NOT NULL,
    type text NOT NULL,
    title text,
    content text,
    "imageUrl" text,
    "backgroundColor" text,
    "textColor" text,
    "order" integer DEFAULT 0 NOT NULL,
    duration integer,
    "isActive" boolean DEFAULT true NOT NULL,
    "validFrom" timestamp(3) without time zone,
    "validUntil" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.digital_signage_slides OWNER TO condosync;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.employees (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    name text NOT NULL,
    cpf text NOT NULL,
    role text NOT NULL,
    phone text,
    email text,
    shift public."ShiftType" NOT NULL,
    "admissionDate" timestamp(3) without time zone NOT NULL,
    "salaryAmount" numeric(10,2),
    "isActive" boolean DEFAULT true NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text
);


ALTER TABLE public.employees OWNER TO condosync;

--
-- Name: finalized_assemblies; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.finalized_assemblies (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "minutesUrl" text,
    "condominiumId" text NOT NULL
);


ALTER TABLE public.finalized_assemblies OWNER TO condosync;

--
-- Name: financial_accounts; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.financial_accounts (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    name text NOT NULL,
    "bankName" text,
    agency text,
    "accountNumber" text,
    balance numeric(12,2) DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "gatewayType" public."GatewayType" DEFAULT 'NONE'::public."GatewayType" NOT NULL,
    "gatewayKey" text,
    "gatewayConfig" jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.financial_accounts OWNER TO condosync;

--
-- Name: financial_categories; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.financial_categories (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    name text NOT NULL,
    type public."FinancialTransactionType" NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.financial_categories OWNER TO condosync;

--
-- Name: financial_transactions; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.financial_transactions (
    id text NOT NULL,
    "accountId" text NOT NULL,
    "categoryId" text,
    type public."FinancialTransactionType" NOT NULL,
    amount numeric(12,2) NOT NULL,
    description text NOT NULL,
    "dueDate" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "referenceMonth" text,
    "receiptUrl" text,
    notes text,
    "createdBy" text NOT NULL,
    "chargeId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.financial_transactions OWNER TO condosync;

--
-- Name: fines; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.fines (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    "unitId" text NOT NULL,
    "reportedBy" text NOT NULL,
    description text NOT NULL,
    regulation text NOT NULL,
    "photoUrls" text[],
    amount numeric(10,2) NOT NULL,
    "appealDeadline" timestamp(3) without time zone NOT NULL,
    "appealText" text,
    "appealedAt" timestamp(3) without time zone,
    "appealStatus" text,
    "appealResponse" text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "chargeId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.fines OWNER TO condosync;

--
-- Name: lost_and_found; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.lost_and_found (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    category text NOT NULL,
    place text,
    status public."LostAndFoundStatus" DEFAULT 'FOUND'::public."LostAndFoundStatus" NOT NULL,
    "photoUrl" text,
    "foundDate" timestamp(3) without time zone,
    "lostDate" timestamp(3) without time zone,
    "returnedAt" timestamp(3) without time zone,
    "returnedTo" text,
    "condominiumId" text NOT NULL,
    "createdById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.lost_and_found OWNER TO condosync;

--
-- Name: maintenance_schedules; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.maintenance_schedules (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    title text NOT NULL,
    description text,
    category text NOT NULL,
    location text NOT NULL,
    frequency text NOT NULL,
    "nextDueDate" timestamp(3) without time zone NOT NULL,
    "lastDoneDate" timestamp(3) without time zone,
    "estimatedCost" numeric(10,2),
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.maintenance_schedules OWNER TO condosync;

--
-- Name: marketplace_offers; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.marketplace_offers (
    id text NOT NULL,
    "partnerId" text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    discount text,
    "couponCode" text,
    "validUntil" timestamp(3) without time zone,
    status public."MarketplaceOfferStatus" DEFAULT 'ACTIVE'::public."MarketplaceOfferStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.marketplace_offers OWNER TO condosync;

--
-- Name: marketplace_partners; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.marketplace_partners (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "logoUrl" text,
    website text,
    phone text,
    email text,
    category text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.marketplace_partners OWNER TO condosync;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    "userId" text NOT NULL,
    type public."NotificationType" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    data jsonb,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifications OWNER TO condosync;

--
-- Name: occurrences; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.occurrences (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    "reportedBy" text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    category text NOT NULL,
    location text,
    "photoUrls" text[],
    status public."OccurrenceStatus" DEFAULT 'OPEN'::public."OccurrenceStatus" NOT NULL,
    priority public."ServiceOrderPriority" DEFAULT 'MEDIUM'::public."ServiceOrderPriority" NOT NULL,
    "resolvedAt" timestamp(3) without time zone,
    "resolvedBy" text,
    resolution text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.occurrences OWNER TO condosync;

--
-- Name: panic_alerts; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.panic_alerts (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    "triggeredBy" text NOT NULL,
    "resolvedBy" text,
    "resolvedAt" timestamp(3) without time zone,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.panic_alerts OWNER TO condosync;

--
-- Name: parcels; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.parcels (
    id text NOT NULL,
    "unitId" text NOT NULL,
    "senderName" text,
    carrier text,
    "trackingCode" text,
    "photoUrl" text,
    "storageLocation" text,
    status public."ParcelStatus" DEFAULT 'RECEIVED'::public."ParcelStatus" NOT NULL,
    "receivedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "notifiedAt" timestamp(3) without time zone,
    "pickedUpAt" timestamp(3) without time zone,
    "pickedUpBy" text,
    "pickupSignature" text,
    notes text,
    "registeredBy" text,
    "deliveryPersonDoc" text,
    "deliveryPersonName" text,
    "hasPackageDamage" boolean DEFAULT false NOT NULL,
    "vehiclePlate" text
);


ALTER TABLE public.parcels OWNER TO condosync;

--
-- Name: password_resets; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.password_resets (
    id text NOT NULL,
    token text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.password_resets OWNER TO condosync;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.permissions (
    id text NOT NULL,
    module text NOT NULL,
    action text NOT NULL,
    description text
);


ALTER TABLE public.permissions OWNER TO condosync;

--
-- Name: pets; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.pets (
    id text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    breed text,
    size text,
    gender text,
    "birthDate" timestamp(3) without time zone,
    color text,
    "photoUrl" text,
    weight double precision,
    "lastVaccination" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    notes text,
    "unitId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.pets OWNER TO condosync;

--
-- Name: photos; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.photos (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    title text NOT NULL,
    description text,
    category text NOT NULL,
    "fileName" text NOT NULL,
    "storedName" text NOT NULL,
    "filePath" text NOT NULL,
    "fileSize" integer NOT NULL,
    "mimeType" text NOT NULL,
    "uploadedBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.photos OWNER TO condosync;

--
-- Name: poll_votes; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.poll_votes (
    id text NOT NULL,
    "pollId" text NOT NULL,
    "userId" text NOT NULL,
    "optionIds" text[],
    "votedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.poll_votes OWNER TO condosync;

--
-- Name: polls; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.polls (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    title text NOT NULL,
    description text,
    options jsonb NOT NULL,
    "allowMultiple" boolean DEFAULT false NOT NULL,
    "isAnonymous" boolean DEFAULT false NOT NULL,
    "startsAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endsAt" timestamp(3) without time zone NOT NULL,
    "createdBy" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.polls OWNER TO condosync;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    token text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO condosync;

--
-- Name: renovation_providers; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.renovation_providers (
    id text NOT NULL,
    "renovationId" text NOT NULL,
    name text NOT NULL,
    "serviceType" text NOT NULL,
    document text,
    phone text,
    company text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.renovation_providers OWNER TO condosync;

--
-- Name: renovations; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.renovations (
    id text NOT NULL,
    "unitId" text NOT NULL,
    "condominiumId" text NOT NULL,
    description text NOT NULL,
    type text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    status public."RenovationStatus" DEFAULT 'PENDING'::public."RenovationStatus" NOT NULL,
    "approvedBy" text,
    "approvedAt" timestamp(3) without time zone,
    "rejectedReason" text,
    notes text,
    "createdBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.renovations OWNER TO condosync;

--
-- Name: reservations; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.reservations (
    id text NOT NULL,
    "commonAreaId" text NOT NULL,
    "unitId" text NOT NULL,
    "requestedBy" text NOT NULL,
    title text,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "guestCount" integer,
    status public."ReservationStatus" DEFAULT 'PENDING'::public."ReservationStatus" NOT NULL,
    "approvedBy" text,
    "canceledBy" text,
    "cancelReason" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.reservations OWNER TO condosync;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.role_permissions (
    id text NOT NULL,
    role public."UserRole" NOT NULL,
    "permissionId" text NOT NULL,
    "condominiumId" text
);


ALTER TABLE public.role_permissions OWNER TO condosync;

--
-- Name: service_order_checklists; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.service_order_checklists (
    id text NOT NULL,
    "serviceOrderId" text NOT NULL,
    item text NOT NULL,
    "isDone" boolean DEFAULT false NOT NULL,
    "doneAt" timestamp(3) without time zone,
    notes text
);


ALTER TABLE public.service_order_checklists OWNER TO condosync;

--
-- Name: service_orders; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.service_orders (
    id text NOT NULL,
    "unitId" text,
    "condominiumId" text NOT NULL,
    "requestedBy" text NOT NULL,
    "assignedTo" text,
    "serviceProviderId" text,
    title text NOT NULL,
    description text NOT NULL,
    category text NOT NULL,
    location text,
    priority public."ServiceOrderPriority" DEFAULT 'MEDIUM'::public."ServiceOrderPriority" NOT NULL,
    status public."ServiceOrderStatus" DEFAULT 'OPEN'::public."ServiceOrderStatus" NOT NULL,
    "photoUrls" text[],
    "estimatedCost" numeric(10,2),
    "finalCost" numeric(10,2),
    "scheduledAt" timestamp(3) without time zone,
    "startedAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    resolution text,
    rating integer,
    feedback text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.service_orders OWNER TO condosync;

--
-- Name: service_providers; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.service_providers (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    name text NOT NULL,
    cnpj text,
    cpf text,
    "serviceType" text NOT NULL,
    phone text NOT NULL,
    email text,
    "isApproved" boolean DEFAULT false NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "photoUrl" text
);


ALTER TABLE public.service_providers OWNER TO condosync;

--
-- Name: stock_items; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.stock_items (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    name text NOT NULL,
    description text,
    category text NOT NULL,
    unit text NOT NULL,
    quantity double precision DEFAULT 0 NOT NULL,
    "minQuantity" double precision DEFAULT 0 NOT NULL,
    location text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.stock_items OWNER TO condosync;

--
-- Name: stock_movements; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.stock_movements (
    id text NOT NULL,
    "itemId" text NOT NULL,
    type public."StockMovementType" NOT NULL,
    quantity double precision NOT NULL,
    reason text,
    "performedBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.stock_movements OWNER TO condosync;

--
-- Name: ticket_messages; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.ticket_messages (
    id text NOT NULL,
    "ticketId" text NOT NULL,
    "senderId" text NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.ticket_messages OWNER TO condosync;

--
-- Name: tickets; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.tickets (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    title text NOT NULL,
    category public."TicketCategory" DEFAULT 'outro'::public."TicketCategory" NOT NULL,
    priority public."TicketPriority" DEFAULT 'LOW'::public."TicketPriority" NOT NULL,
    status public."TicketStatus" DEFAULT 'OPEN'::public."TicketStatus" NOT NULL,
    "createdById" text NOT NULL,
    "assignedToId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.tickets OWNER TO condosync;

--
-- Name: units; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.units (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    identifier text NOT NULL,
    block text,
    street text,
    floor text,
    type text,
    area double precision,
    bedrooms integer,
    status public."UnitStatus" DEFAULT 'OCCUPIED'::public."UnitStatus" NOT NULL,
    fraction numeric(8,6) DEFAULT 1.0 NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.units OWNER TO condosync;

--
-- Name: users; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    name text NOT NULL,
    phone text,
    cpf text,
    "avatarUrl" text,
    role public."UserRole" DEFAULT 'RESIDENT'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "twoFactorEnabled" boolean DEFAULT false NOT NULL,
    "twoFactorSecret" text,
    "lastLoginAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO condosync;

--
-- Name: vehicle_access_logs; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.vehicle_access_logs (
    id text NOT NULL,
    "vehicleId" text,
    plate text NOT NULL,
    "unitId" text,
    "isResident" boolean DEFAULT false NOT NULL,
    "entryAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "exitAt" timestamp(3) without time zone,
    notes text,
    "registeredBy" text
);


ALTER TABLE public.vehicle_access_logs OWNER TO condosync;

--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.vehicles (
    id text NOT NULL,
    "unitId" text NOT NULL,
    plate text NOT NULL,
    brand text NOT NULL,
    model text NOT NULL,
    color text NOT NULL,
    year integer,
    type public."VehicleType" DEFAULT 'CAR'::public."VehicleType" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "photoUrl" text
);


ALTER TABLE public.vehicles OWNER TO condosync;

--
-- Name: visitor_qrcode_uses; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.visitor_qrcode_uses (
    id text NOT NULL,
    "qrcodeId" text NOT NULL,
    "visitorId" text,
    "scannedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "scannedBy" text NOT NULL
);


ALTER TABLE public.visitor_qrcode_uses OWNER TO condosync;

--
-- Name: visitor_qrcodes; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.visitor_qrcodes (
    id text NOT NULL,
    "unitId" text NOT NULL,
    "createdBy" text NOT NULL,
    "visitorName" text NOT NULL,
    "visitorDoc" text,
    "visitorPhone" text,
    reason text,
    "validFrom" timestamp(3) without time zone NOT NULL,
    "validUntil" timestamp(3) without time zone NOT NULL,
    "maxUses" integer DEFAULT 1 NOT NULL,
    "usedCount" integer DEFAULT 0 NOT NULL,
    token text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.visitor_qrcodes OWNER TO condosync;

--
-- Name: visitor_recurrences; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.visitor_recurrences (
    id text NOT NULL,
    "condominiumId" text NOT NULL,
    "unitId" text NOT NULL,
    "visitorName" text NOT NULL,
    document text,
    "documentType" text,
    company text,
    reason text,
    "weekDays" text[] NOT NULL,
    "startTime" text NOT NULL,
    "endTime" text NOT NULL,
    "validFrom" timestamp(3) without time zone NOT NULL,
    "validUntil" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdBy" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.visitor_recurrences OWNER TO condosync;

--
-- Name: visitors; Type: TABLE; Schema: public; Owner: condosync
--

CREATE TABLE public.visitors (
    id text NOT NULL,
    "unitId" text NOT NULL,
    name text NOT NULL,
    document text,
    "documentType" text,
    phone text,
    "photoUrl" text,
    company text,
    reason text,
    "preAuthorizedBy" text,
    status public."VisitorStatus" DEFAULT 'PENDING'::public."VisitorStatus" NOT NULL,
    "scheduledAt" timestamp(3) without time zone,
    "entryAt" timestamp(3) without time zone,
    "exitAt" timestamp(3) without time zone,
    "registeredBy" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "serviceProviderId" text
);


ALTER TABLE public.visitors OWNER TO condosync;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: area_blocked_periods; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.area_blocked_periods (id, "commonAreaId", reason, "startDate", "endDate", "createdBy", "createdAt") FROM stdin;
\.


--
-- Data for Name: assemblies; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.assemblies (id, "condominiumId", title, description, "meetingUrl", "scheduledAt", "startedAt", "finishedAt", "minutesUrl", status, "createdBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: assembly_attendees; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.assembly_attendees (id, "assemblyId", "userId", "joinedAt", "leftAt") FROM stdin;
\.


--
-- Data for Name: assembly_votes; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.assembly_votes (id, "votingItemId", "userId", "optionId", "votedAt") FROM stdin;
\.


--
-- Data for Name: assembly_voting_items; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.assembly_voting_items (id, "assemblyId", title, description, options) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.audit_logs (id, "userId", "condominiumId", action, module, "entityType", "entityId", description, metadata, "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


--
-- Data for Name: charges; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: chat_conversations; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.chat_conversations (id, "condominiumId", "unitId", subject, participants, "isOpen", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.chat_messages (id, "conversationId", "senderId", content, attachments, "isRead", "createdAt") FROM stdin;
\.


--
-- Data for Name: collection_rules; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.collection_rules (id, "condominiumId", name, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: collection_steps; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.collection_steps (id, "ruleId", "daysAfterDue", channels, "messageTemplate", action) FROM stdin;
\.


--
-- Data for Name: common_areas; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: condominium_contracts; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.condominium_contracts (id, "condominiumId", title, vendor, "contractType", "startDate", "endDate", value, "adjustmentIndex", "fileUrl", notes, "autoRenew", "alertDaysBefore", status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: condominium_documents; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.condominium_documents (id, "condominiumId", title, description, category, "fileName", "storedName", "filePath", "fileSize", "mimeType", "uploadedBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: condominium_users; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: condominiums; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.condominiums (id, name, cnpj, address, city, state, "zipCode", phone, email, "logoUrl", timezone, "isActive", plan, "maxUnits", "createdAt", "updatedAt") FROM stdin;
bf201f72-9858-4a6f-960e-c55260becb1d	Residencial Veredas do Bosque	12345678000195	Rua das Palmeiras, 500	Goi├ónia	GO	74000000	(62) 3000-0000	admin@veredasdobosque.com.br	\N	America/Sao_Paulo	t	professional	80	2026-05-12 00:58:28.283	2026-05-12 00:58:28.283
\.


--
-- Data for Name: contracts; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.contracts (id, "condominiumId", "serviceProviderId", title, description, value, "startDate", "endDate", "isActive", "documentUrl", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: dependents; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.dependents (id, "unitId", name, relationship, "birthDate", cpf, "photoUrl", "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: digital_signage_screens; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.digital_signage_screens (id, "condominiumId", name, location, token, "isActive", "slideDuration", "primaryColor", "logoUrl", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: digital_signage_slides; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.digital_signage_slides (id, "screenId", type, title, content, "imageUrl", "backgroundColor", "textColor", "order", duration, "isActive", "validFrom", "validUntil", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.employees (id, "condominiumId", name, cpf, role, phone, email, shift, "admissionDate", "salaryAmount", "isActive", notes, "createdAt", "updatedAt", "userId") FROM stdin;
seed-employee-001	bf201f72-9858-4a6f-960e-c55260becb1d	Jo├úo da Silva	55566677788	Porteiro	(11) 99999-1111	\N	MORNING	2023-01-01 00:00:00	\N	t	\N	2026-05-12 01:10:34.612	2026-05-12 01:10:34.612	\N
\.


--
-- Data for Name: finalized_assemblies; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.finalized_assemblies (id, title, description, date, "minutesUrl", "condominiumId") FROM stdin;
\.


--
-- Data for Name: financial_accounts; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.financial_accounts (id, "condominiumId", name, "bankName", agency, "accountNumber", balance, "isActive", "gatewayType", "gatewayKey", "gatewayConfig", "createdAt", "updatedAt") FROM stdin;
seed-account-001	bf201f72-9858-4a6f-960e-c55260becb1d	Conta Principal	Banco do Brasil	1234	56789-0	15000.00	t	NONE	\N	\N	2026-05-12 01:10:34.62	2026-05-12 01:10:34.62
a0000000-0000-4000-8000-000000000001	bf201f72-9858-4a6f-960e-c55260becb1d	Conta Principal	Banco do Brasil	1234	56789-0	15000.00	t	NONE	\N	\N	2026-05-12 20:10:05.443	2026-05-12 20:10:05.443
\.


--
-- Data for Name: financial_categories; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.financial_categories (id, "condominiumId", name, type, description, "isActive", "createdAt") FROM stdin;
2d6f9a96-fbe1-4969-a173-c555d12fe63a	bf201f72-9858-4a6f-960e-c55260becb1d	Condom├¡nio Mensal	INCOME	\N	t	2026-05-12 01:11:02.513
08a1db2e-db61-49e4-9657-fb2a7d502d05	bf201f72-9858-4a6f-960e-c55260becb1d	Fundo de Reserva	INCOME	\N	t	2026-05-12 01:11:02.516
\.


--
-- Data for Name: financial_transactions; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: fines; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.fines (id, "condominiumId", "unitId", "reportedBy", description, regulation, "photoUrls", amount, "appealDeadline", "appealText", "appealedAt", "appealStatus", "appealResponse", status, "chargeId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: lost_and_found; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.lost_and_found (id, title, description, category, place, status, "photoUrl", "foundDate", "lostDate", "returnedAt", "returnedTo", "condominiumId", "createdById", "createdAt", "updatedAt") FROM stdin;
a9047272-0883-4f86-8717-421c15ed8d11	Chave encontrada	Molho de 3 chaves	Chaves	Hall bloco A	FOUND	\N	\N	\N	\N	\N	bf201f72-9858-4a6f-960e-c55260becb1d	0ec1d139-b828-49cc-954d-d7d2510fe8e8	2026-05-14 19:52:19.855	2026-05-14 19:52:19.855
\.


--
-- Data for Name: maintenance_schedules; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.maintenance_schedules (id, "condominiumId", title, description, category, location, frequency, "nextDueDate", "lastDoneDate", "estimatedCost", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: marketplace_offers; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: marketplace_partners; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: occurrences; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: panic_alerts; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: parcels; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: password_resets; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.password_resets (id, token, "userId", "expiresAt", used, "createdAt") FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.permissions (id, module, action, description) FROM stdin;
\.


--
-- Data for Name: pets; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.pets (id, name, type, breed, size, gender, "birthDate", color, "photoUrl", weight, "lastVaccination", "isActive", notes, "unitId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: photos; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.photos (id, "condominiumId", title, description, category, "fileName", "storedName", "filePath", "fileSize", "mimeType", "uploadedBy", "createdAt") FROM stdin;
\.


--
-- Data for Name: poll_votes; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.poll_votes (id, "pollId", "userId", "optionIds", "votedAt") FROM stdin;
\.


--
-- Data for Name: polls; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: renovation_providers; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.renovation_providers (id, "renovationId", name, "serviceType", document, phone, company, "createdAt") FROM stdin;
\.


--
-- Data for Name: renovations; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.renovations (id, "unitId", "condominiumId", description, type, "startDate", "endDate", status, "approvedBy", "approvedAt", "rejectedReason", notes, "createdBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: reservations; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.role_permissions (id, role, "permissionId", "condominiumId") FROM stdin;
\.


--
-- Data for Name: service_order_checklists; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.service_order_checklists (id, "serviceOrderId", item, "isDone", "doneAt", notes) FROM stdin;
\.


--
-- Data for Name: service_orders; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: service_providers; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.service_providers (id, "condominiumId", name, cnpj, cpf, "serviceType", phone, email, "isApproved", notes, "createdAt", "updatedAt", "photoUrl") FROM stdin;
1e291ec0-bbd0-4d37-84bb-39ca23ccf553	bf201f72-9858-4a6f-960e-c55260becb1d	Andr├® Poda de Arvores	\N	\N	Pode e jardinagem	(62) 99999-9999	andre@pod.com.br	f	\N	2026-05-12 01:35:05.123	2026-05-12 01:35:05.123	\N
\.


--
-- Data for Name: stock_items; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.stock_items (id, "condominiumId", name, description, category, unit, quantity, "minQuantity", location, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: stock_movements; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.stock_movements (id, "itemId", type, quantity, reason, "performedBy", "createdAt") FROM stdin;
\.


--
-- Data for Name: ticket_messages; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.ticket_messages (id, "ticketId", "senderId", content, "createdAt") FROM stdin;
\.


--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.tickets (id, "condominiumId", title, category, priority, status, "createdById", "assignedToId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: vehicle_access_logs; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.vehicle_access_logs (id, "vehicleId", plate, "unitId", "isResident", "entryAt", "exitAt", notes, "registeredBy") FROM stdin;
\.


--
-- Data for Name: vehicles; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Data for Name: visitor_qrcode_uses; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.visitor_qrcode_uses (id, "qrcodeId", "visitorId", "scannedAt", "scannedBy") FROM stdin;
\.


--
-- Data for Name: visitor_qrcodes; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.visitor_qrcodes (id, "unitId", "createdBy", "visitorName", "visitorDoc", "visitorPhone", reason, "validFrom", "validUntil", "maxUses", "usedCount", token, "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: visitor_recurrences; Type: TABLE DATA; Schema: public; Owner: condosync
--

COPY public.visitor_recurrences (id, "condominiumId", "unitId", "visitorName", document, "documentType", company, reason, "weekDays", "startTime", "endTime", "validFrom", "validUntil", "isActive", "createdBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: visitors; Type: TABLE DATA; Schema: public; Owner: condosync
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: area_blocked_periods area_blocked_periods_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.area_blocked_periods
    ADD CONSTRAINT area_blocked_periods_pkey PRIMARY KEY (id);


--
-- Name: assemblies assemblies_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.assemblies
    ADD CONSTRAINT assemblies_pkey PRIMARY KEY (id);


--
-- Name: assembly_attendees assembly_attendees_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.assembly_attendees
    ADD CONSTRAINT assembly_attendees_pkey PRIMARY KEY (id);


--
-- Name: assembly_votes assembly_votes_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.assembly_votes
    ADD CONSTRAINT assembly_votes_pkey PRIMARY KEY (id);


--
-- Name: assembly_voting_items assembly_voting_items_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.assembly_voting_items
    ADD CONSTRAINT assembly_voting_items_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: charges charges_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.charges
    ADD CONSTRAINT charges_pkey PRIMARY KEY (id);


--
-- Name: chat_conversations chat_conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.chat_conversations
    ADD CONSTRAINT chat_conversations_pkey PRIMARY KEY (id);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: collection_rules collection_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.collection_rules
    ADD CONSTRAINT collection_rules_pkey PRIMARY KEY (id);


--
-- Name: collection_steps collection_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.collection_steps
    ADD CONSTRAINT collection_steps_pkey PRIMARY KEY (id);


--
-- Name: common_areas common_areas_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.common_areas
    ADD CONSTRAINT common_areas_pkey PRIMARY KEY (id);


--
-- Name: condominium_contracts condominium_contracts_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.condominium_contracts
    ADD CONSTRAINT condominium_contracts_pkey PRIMARY KEY (id);


--
-- Name: condominium_documents condominium_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.condominium_documents
    ADD CONSTRAINT condominium_documents_pkey PRIMARY KEY (id);


--
-- Name: condominium_users condominium_users_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.condominium_users
    ADD CONSTRAINT condominium_users_pkey PRIMARY KEY (id);


--
-- Name: condominiums condominiums_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.condominiums
    ADD CONSTRAINT condominiums_pkey PRIMARY KEY (id);


--
-- Name: contracts contracts_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_pkey PRIMARY KEY (id);


--
-- Name: dependents dependents_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.dependents
    ADD CONSTRAINT dependents_pkey PRIMARY KEY (id);


--
-- Name: digital_signage_screens digital_signage_screens_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.digital_signage_screens
    ADD CONSTRAINT digital_signage_screens_pkey PRIMARY KEY (id);


--
-- Name: digital_signage_slides digital_signage_slides_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.digital_signage_slides
    ADD CONSTRAINT digital_signage_slides_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: finalized_assemblies finalized_assemblies_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.finalized_assemblies
    ADD CONSTRAINT finalized_assemblies_pkey PRIMARY KEY (id);


--
-- Name: financial_accounts financial_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.financial_accounts
    ADD CONSTRAINT financial_accounts_pkey PRIMARY KEY (id);


--
-- Name: financial_categories financial_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.financial_categories
    ADD CONSTRAINT financial_categories_pkey PRIMARY KEY (id);


--
-- Name: financial_transactions financial_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.financial_transactions
    ADD CONSTRAINT financial_transactions_pkey PRIMARY KEY (id);


--
-- Name: fines fines_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.fines
    ADD CONSTRAINT fines_pkey PRIMARY KEY (id);


--
-- Name: lost_and_found lost_and_found_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.lost_and_found
    ADD CONSTRAINT lost_and_found_pkey PRIMARY KEY (id);


--
-- Name: maintenance_schedules maintenance_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.maintenance_schedules
    ADD CONSTRAINT maintenance_schedules_pkey PRIMARY KEY (id);


--
-- Name: marketplace_offers marketplace_offers_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.marketplace_offers
    ADD CONSTRAINT marketplace_offers_pkey PRIMARY KEY (id);


--
-- Name: marketplace_partners marketplace_partners_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.marketplace_partners
    ADD CONSTRAINT marketplace_partners_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: occurrences occurrences_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.occurrences
    ADD CONSTRAINT occurrences_pkey PRIMARY KEY (id);


--
-- Name: panic_alerts panic_alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.panic_alerts
    ADD CONSTRAINT panic_alerts_pkey PRIMARY KEY (id);


--
-- Name: parcels parcels_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT parcels_pkey PRIMARY KEY (id);


--
-- Name: password_resets password_resets_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT password_resets_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: pets pets_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.pets
    ADD CONSTRAINT pets_pkey PRIMARY KEY (id);


--
-- Name: photos photos_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.photos
    ADD CONSTRAINT photos_pkey PRIMARY KEY (id);


--
-- Name: poll_votes poll_votes_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.poll_votes
    ADD CONSTRAINT poll_votes_pkey PRIMARY KEY (id);


--
-- Name: polls polls_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.polls
    ADD CONSTRAINT polls_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: renovation_providers renovation_providers_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.renovation_providers
    ADD CONSTRAINT renovation_providers_pkey PRIMARY KEY (id);


--
-- Name: renovations renovations_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.renovations
    ADD CONSTRAINT renovations_pkey PRIMARY KEY (id);


--
-- Name: reservations reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (id);


--
-- Name: service_order_checklists service_order_checklists_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.service_order_checklists
    ADD CONSTRAINT service_order_checklists_pkey PRIMARY KEY (id);


--
-- Name: service_orders service_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.service_orders
    ADD CONSTRAINT service_orders_pkey PRIMARY KEY (id);


--
-- Name: service_providers service_providers_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.service_providers
    ADD CONSTRAINT service_providers_pkey PRIMARY KEY (id);


--
-- Name: stock_items stock_items_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.stock_items
    ADD CONSTRAINT stock_items_pkey PRIMARY KEY (id);


--
-- Name: stock_movements stock_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT stock_movements_pkey PRIMARY KEY (id);


--
-- Name: ticket_messages ticket_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.ticket_messages
    ADD CONSTRAINT ticket_messages_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vehicle_access_logs vehicle_access_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.vehicle_access_logs
    ADD CONSTRAINT vehicle_access_logs_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (id);


--
-- Name: visitor_qrcode_uses visitor_qrcode_uses_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.visitor_qrcode_uses
    ADD CONSTRAINT visitor_qrcode_uses_pkey PRIMARY KEY (id);


--
-- Name: visitor_qrcodes visitor_qrcodes_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.visitor_qrcodes
    ADD CONSTRAINT visitor_qrcodes_pkey PRIMARY KEY (id);


--
-- Name: visitor_recurrences visitor_recurrences_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.visitor_recurrences
    ADD CONSTRAINT visitor_recurrences_pkey PRIMARY KEY (id);


--
-- Name: visitors visitors_pkey; Type: CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.visitors
    ADD CONSTRAINT visitors_pkey PRIMARY KEY (id);


--
-- Name: assembly_attendees_assemblyId_userId_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX "assembly_attendees_assemblyId_userId_key" ON public.assembly_attendees USING btree ("assemblyId", "userId");


--
-- Name: assembly_votes_votingItemId_userId_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX "assembly_votes_votingItemId_userId_key" ON public.assembly_votes USING btree ("votingItemId", "userId");


--
-- Name: condominium_users_userId_condominiumId_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX "condominium_users_userId_condominiumId_key" ON public.condominium_users USING btree ("userId", "condominiumId");


--
-- Name: condominiums_cnpj_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX condominiums_cnpj_key ON public.condominiums USING btree (cnpj);


--
-- Name: digital_signage_screens_token_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX digital_signage_screens_token_key ON public.digital_signage_screens USING btree (token);


--
-- Name: employees_userId_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX "employees_userId_key" ON public.employees USING btree ("userId");


--
-- Name: password_resets_token_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX password_resets_token_key ON public.password_resets USING btree (token);


--
-- Name: permissions_module_action_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX permissions_module_action_key ON public.permissions USING btree (module, action);


--
-- Name: poll_votes_pollId_userId_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX "poll_votes_pollId_userId_key" ON public.poll_votes USING btree ("pollId", "userId");


--
-- Name: refresh_tokens_token_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX refresh_tokens_token_key ON public.refresh_tokens USING btree (token);


--
-- Name: role_permissions_role_permissionId_condominiumId_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX "role_permissions_role_permissionId_condominiumId_key" ON public.role_permissions USING btree (role, "permissionId", "condominiumId");


--
-- Name: units_condominiumId_identifier_block_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX "units_condominiumId_identifier_block_key" ON public.units USING btree ("condominiumId", identifier, block);


--
-- Name: users_cpf_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX users_cpf_key ON public.users USING btree (cpf);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: vehicles_plate_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX vehicles_plate_key ON public.vehicles USING btree (plate);


--
-- Name: visitor_qrcodes_token_key; Type: INDEX; Schema: public; Owner: condosync
--

CREATE UNIQUE INDEX visitor_qrcodes_token_key ON public.visitor_qrcodes USING btree (token);


--
-- Name: condominium_users condominium_users_validate_unit; Type: TRIGGER; Schema: public; Owner: condosync
--

CREATE TRIGGER condominium_users_validate_unit BEFORE INSERT OR UPDATE ON public.condominium_users FOR EACH ROW EXECUTE FUNCTION public.validate_condominium_user_unit();


--
-- Name: announcements announcements_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT "announcements_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: area_blocked_periods area_blocked_periods_commonAreaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.area_blocked_periods
    ADD CONSTRAINT "area_blocked_periods_commonAreaId_fkey" FOREIGN KEY ("commonAreaId") REFERENCES public.common_areas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: assemblies assemblies_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.assemblies
    ADD CONSTRAINT "assemblies_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: assembly_attendees assembly_attendees_assemblyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.assembly_attendees
    ADD CONSTRAINT "assembly_attendees_assemblyId_fkey" FOREIGN KEY ("assemblyId") REFERENCES public.assemblies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: assembly_votes assembly_votes_votingItemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.assembly_votes
    ADD CONSTRAINT "assembly_votes_votingItemId_fkey" FOREIGN KEY ("votingItemId") REFERENCES public.assembly_voting_items(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: assembly_voting_items assembly_voting_items_assemblyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.assembly_voting_items
    ADD CONSTRAINT "assembly_voting_items_assemblyId_fkey" FOREIGN KEY ("assemblyId") REFERENCES public.assemblies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: charges charges_accountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.charges
    ADD CONSTRAINT "charges_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES public.financial_accounts(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: charges charges_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.charges
    ADD CONSTRAINT "charges_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.financial_categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: charges charges_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.charges
    ADD CONSTRAINT "charges_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: chat_messages chat_messages_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT "chat_messages_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public.chat_conversations(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: chat_messages chat_messages_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT "chat_messages_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: collection_steps collection_steps_ruleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.collection_steps
    ADD CONSTRAINT "collection_steps_ruleId_fkey" FOREIGN KEY ("ruleId") REFERENCES public.collection_rules(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: common_areas common_areas_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.common_areas
    ADD CONSTRAINT "common_areas_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: condominium_documents condominium_documents_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.condominium_documents
    ADD CONSTRAINT "condominium_documents_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: condominium_users condominium_users_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.condominium_users
    ADD CONSTRAINT "condominium_users_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: condominium_users condominium_users_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.condominium_users
    ADD CONSTRAINT "condominium_users_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: condominium_users condominium_users_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.condominium_users
    ADD CONSTRAINT "condominium_users_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: contracts contracts_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT "contracts_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: contracts contracts_serviceProviderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT "contracts_serviceProviderId_fkey" FOREIGN KEY ("serviceProviderId") REFERENCES public.service_providers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: dependents dependents_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.dependents
    ADD CONSTRAINT "dependents_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: digital_signage_slides digital_signage_slides_screenId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.digital_signage_slides
    ADD CONSTRAINT "digital_signage_slides_screenId_fkey" FOREIGN KEY ("screenId") REFERENCES public.digital_signage_screens(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: employees employees_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT "employees_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: employees employees_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT "employees_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: financial_accounts financial_accounts_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.financial_accounts
    ADD CONSTRAINT "financial_accounts_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: financial_transactions financial_transactions_accountId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.financial_transactions
    ADD CONSTRAINT "financial_transactions_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES public.financial_accounts(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: financial_transactions financial_transactions_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.financial_transactions
    ADD CONSTRAINT "financial_transactions_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.financial_categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: lost_and_found lost_and_found_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.lost_and_found
    ADD CONSTRAINT "lost_and_found_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: lost_and_found lost_and_found_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.lost_and_found
    ADD CONSTRAINT "lost_and_found_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: maintenance_schedules maintenance_schedules_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.maintenance_schedules
    ADD CONSTRAINT "maintenance_schedules_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: marketplace_offers marketplace_offers_partnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.marketplace_offers
    ADD CONSTRAINT "marketplace_offers_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES public.marketplace_partners(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications notifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: occurrences occurrences_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.occurrences
    ADD CONSTRAINT "occurrences_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: panic_alerts panic_alerts_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.panic_alerts
    ADD CONSTRAINT "panic_alerts_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: parcels parcels_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.parcels
    ADD CONSTRAINT "parcels_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: password_resets password_resets_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.password_resets
    ADD CONSTRAINT "password_resets_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pets pets_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.pets
    ADD CONSTRAINT "pets_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: poll_votes poll_votes_pollId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.poll_votes
    ADD CONSTRAINT "poll_votes_pollId_fkey" FOREIGN KEY ("pollId") REFERENCES public.polls(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: polls polls_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.polls
    ADD CONSTRAINT "polls_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: refresh_tokens refresh_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: renovation_providers renovation_providers_renovationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.renovation_providers
    ADD CONSTRAINT "renovation_providers_renovationId_fkey" FOREIGN KEY ("renovationId") REFERENCES public.renovations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: renovations renovations_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.renovations
    ADD CONSTRAINT "renovations_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reservations reservations_commonAreaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT "reservations_commonAreaId_fkey" FOREIGN KEY ("commonAreaId") REFERENCES public.common_areas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: role_permissions role_permissions_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: role_permissions role_permissions_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public.permissions(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: service_order_checklists service_order_checklists_serviceOrderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.service_order_checklists
    ADD CONSTRAINT "service_order_checklists_serviceOrderId_fkey" FOREIGN KEY ("serviceOrderId") REFERENCES public.service_orders(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: service_orders service_orders_serviceProviderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.service_orders
    ADD CONSTRAINT "service_orders_serviceProviderId_fkey" FOREIGN KEY ("serviceProviderId") REFERENCES public.service_providers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: service_orders service_orders_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.service_orders
    ADD CONSTRAINT "service_orders_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: service_providers service_providers_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.service_providers
    ADD CONSTRAINT "service_providers_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock_movements stock_movements_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.stock_movements
    ADD CONSTRAINT "stock_movements_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public.stock_items(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ticket_messages ticket_messages_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.ticket_messages
    ADD CONSTRAINT "ticket_messages_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ticket_messages ticket_messages_ticketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.ticket_messages
    ADD CONSTRAINT "ticket_messages_ticketId_fkey" FOREIGN KEY ("ticketId") REFERENCES public.tickets(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tickets tickets_assignedToId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT "tickets_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: tickets tickets_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT "tickets_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: units units_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT "units_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: vehicle_access_logs vehicle_access_logs_vehicleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.vehicle_access_logs
    ADD CONSTRAINT "vehicle_access_logs_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES public.vehicles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: vehicles vehicles_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT "vehicles_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: visitor_qrcode_uses visitor_qrcode_uses_qrcodeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.visitor_qrcode_uses
    ADD CONSTRAINT "visitor_qrcode_uses_qrcodeId_fkey" FOREIGN KEY ("qrcodeId") REFERENCES public.visitor_qrcodes(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: visitor_qrcodes visitor_qrcodes_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.visitor_qrcodes
    ADD CONSTRAINT "visitor_qrcodes_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: visitor_recurrences visitor_recurrences_condominiumId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.visitor_recurrences
    ADD CONSTRAINT "visitor_recurrences_condominiumId_fkey" FOREIGN KEY ("condominiumId") REFERENCES public.condominiums(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: visitor_recurrences visitor_recurrences_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.visitor_recurrences
    ADD CONSTRAINT "visitor_recurrences_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: visitors visitors_serviceProviderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.visitors
    ADD CONSTRAINT "visitors_serviceProviderId_fkey" FOREIGN KEY ("serviceProviderId") REFERENCES public.service_providers(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: visitors visitors_unitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: condosync
--

ALTER TABLE ONLY public.visitors
    ADD CONSTRAINT "visitors_unitId_fkey" FOREIGN KEY ("unitId") REFERENCES public.units(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: condosync
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict FPJt2Am4WVcYYjNbtPZV0UQNTq420aLk9PlsifNuwCLK7jR0S3q54meOa2H0iO8

