E2E_SUPERADMIN_EMAIL=admin@condosync.com.br
E2E_SUPERADMIN_PASSWORD=change-me
E2E_DOORMAN_EMAIL=porteiro@parqueverde.com.br
E2E_DOORMAN_PASSWORD=change-me
E2E_RESIDENT1_EMAIL=morador1@parqueverde.com.br
E2E_RESIDENT1_PASSWORD=change-me
E2E_RESIDENT2_EMAIL=morador2@parqueverde.com.br
E2E_RESIDENT2_PASSWORD=change-me
